<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="favicon/favicon.ico" />
  <link rel="stylesheet" href="./css/main.css" />

  <title>Logicsols</title>
</head>

<!-- <svg>
  <use xlink:href="img/spritemap.svg#icon-rectangle"></use>
</svg> -->

<body class="init noscroll">
  <div class="loader"></div>
  
  <header class="init">
    <div class="wrapper">
      <div class="logo">
        <a href="/" data-target="top">
          <img src="./img/header-logo.png" alt="">
        </a>
      </div>
      <nav>
        <a href="" data-target="benefits">Logicsols Benefits</a>
        <a href="" data-target="services">Our Services</a>
        <a href="" data-target="mission">Our Mission</a>
        <a href="" data-target="about">About Us</a>
        <div class="sign">
          <a href="login.html" class="btn btn-border white login">login</a>
          <a href="" class="btn white register" data-action="modal-register">Register</a>
        </div>
      </nav>
      <button class="nav-button" data-action="toggle-menu">
        <img src="./img/menu-white.svg" class="on-white" alt="">
        <img src="./img/menu-green.svg" class="on-green" alt="">
        <img src="./img/ic-close-menu.svg" class="off" alt="">
      </button>
    </div>
  </header>
  <!-- /header -->

  <div class="mobile-menu">
    <a href="" data-target="benefits">Logicsols Benefits</a>
    <a href="" data-target="services">Our Services</a>
    <a href="" data-target="mission">Our Mission</a>
    <a href="" data-target="about">About Us</a>
    <div class="sign">
      <a href="login.html" class="btn btn-border white login">login</a>
      <a href="" class="btn white register" data-action="modal-register">Register</a>
    </div>
  </div>

  <main>
    <article class="hero" data-anchor="hero">
      <div class="wrapper">
        <div class="hero__bg">
          <div class="bg-1">
              <img src="./img/bg.svg" alt="">
          </div>
          <div class="bg-2">
              <img src="./img/bg_2.svg" alt="">  
          </div>
          <div class="bg-comp">
              <img src="./img/comp.svg" alt="">
          </div>          
          <div class="track">
            <img src="./img/track.png" alt="">
          </div>
          <div class="barge">
            <img src="./img/barge.png" alt="">
          </div>
          <div class="airplane">
            <img src="./img/airplane.png" alt="">
          </div>          
        </div>
        <section class="hero__body">
          <h1 class="fadeInUp">Efficient Supply Chain</h1>
          <div class="hero__description fadeInUp" data-wow-duration="1s">Our digital platform enables customers and suppliers to seamlessly manage their entire logistics operations from RFQ to final destination. Providing live visibility of shipments across all transport modes and data analysis to make the right decision, that help customers cut down cost due to inefficiencies in the overall supply chain process making it more efficient and digital.</div>
          <a href="" class="btn turquoise fadeInUp" data-wow-duration="1s" data-action="modal-register">Register</a>
        </section>        
      </div>
    </article>
    <!-- /.hero -->
    

    <article class="slider wow fadeIn" data-anchor="benefits" data-wow-offset="200" data-wow-duration="2s">
      <div class="wrapper">
        <div class="slider__bg">
          <img src="./img/bg_3.svg" alt="">
        </div>
        <div class="slider__left">
          <!-- Slider main container -->
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">
                  <!-- <img src="./img/ic-single-digital-platform.svg" alt="">-->
                  <img src="./img/slide-1.png" alt="">
                </div>
                <div class="swiper-slide">                    
                  <!-- <img src="./img/il-our-ecosystem.svg" alt=""> -->
                  <img src="./img/slide-2.png" alt="">
                </div>
                <div class="swiper-slide">                    
                  <!-- <img src="./img/il-advanced-analytics.svg" alt=""> -->
                  <img src="./img/slide-3.png" alt="">
                </div>
                <div class="swiper-slide">                    
                  <!-- <img src="./img/il-advanced-analytics.svg" alt=""> -->
                  <img src="./img/slide-4.png" alt="">
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>           
          </div>
        </div>
        <div class="slider__right">
          <!-- Slider main container -->
          <h5>Benefits</h5>
          <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide">                  
                  Single digital platform for all services
                </div>
                <div class="swiper-slide">                  
                  Advanced Analytics
                </div>
                <div class="swiper-slide">                  
                  Our Ecosystem
                </div>
                <div class="swiper-slide">                  
                  Technology of tomorrow, today
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>           
          </div>

          <div class="slider__navigation">
            <button class="prev">
              <svg class="icon-arrow-left">
                <use xlink:href="img/spritemap.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <div class="slider__pagination"></div>
            <button class="next">
              <svg class="icon-arrow-right">
                <use xlink:href="img/spritemap.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </article>
    <!-- /.slider -->

    <article class="services" data-anchor="services">
      <div class="services__title wow fadeInUp" data-wow-offset="150" data-wow-duration="1.3s">
        <span>how it works</span>
        <a href="" data-action="modal-video">
          <img src="./img/ic-play.svg" alt="">
        </a> 
      </div>
      <h2 class="wow fadeInUp" data-wow-offset="150" data-wow-duration="1.3s" data-wow-delay="0.3s">Our Services</h2>
      <ul class="services__list wrapper">
        <li class="bulk-cargo">
          <div class="left wow fadeInLeft" data-wow-offset="150" data-wow-duration="1.3s">
            <h3>Break Bulk Cargo</h3>
            <p>Book your oversize shipments in three clicks</p>
          </div>
          <div class="right wow fadeInRight" data-wow-offset="150" data-wow-duration="1.3s">
            <img src="./img/il-break-bulk-cargo.png" alt="">
          </div>
        </li>
        <li class="marine-surveys">          
          <div class="left wow fadeInLeft" data-wow-offset="150" data-wow-duration="1.3s">
            <img src="./img/il-marine-survey.png" alt="">
          </div>
          <div class="right wow fadeInRight" data-wow-offset="150" data-wow-duration="1.3s">
            <h3>Marine Surveys</h3>
            <p>Get connected with globally recognized Marine Surveyors ensuring quality and safety</p>
          </div>
        </li>
        <li class="general-cargo">
          <div class="left wow fadeInLeft" data-wow-offset="150" data-wow-duration="1.3s">
            <h3>General Cargo</h3>
            <p>Instant quotes thru our globally recognized partners</p>
          </div>
          <div class="right wow fadeInRight" data-wow-offset="150" data-wow-duration="1.3s">
            <img src="./img/il-general-cargo.png" alt="">
          </div>
        </li>
      </ul>
    </article>
    <!-- /.services -->

    <article class="other-services wrapper wow fadeIn" data-wow-duration="2s" data-wow-offset="200" >
      <h2>Other Services</h2>
      <ul class="other__list">

        <% var list = [
          {
            icon: "ic-document-legalization",
            title: "Document Legalization"
          },
          {
            icon: "ic-on-board-courier",
            title: "On Board Courier"
          },
          {
            icon: "ic-reverse-logistics",
            title: "Reverse Logistics"
          },
          {
            icon: "ic-packaging",
            title: "Packaging"
          },
          {
            icon: "ic-storage",
            title: "Storage"
          },
          {
            icon: "ic-quality-inspections",
            title: "Quality Inspections"
          }
        ] %>
        <% for(var i in list){ %>            
        <li>
          <img src="./img/<%=list[i].icon%>.svg" alt="">
          <b><%=list[i].title%></b>
        </li>
        <% } %>
      </ul>
    </article>
    <!-- /.other-services -->

    <article class="mission" data-anchor="mission">
      <div class="wrapper">
        <div class="mission__title wow fadeInUp" data-wow-duration="1.3s" data-wow-offset="150">mission</div>
        <h2 class="wow fadeInUp" data-wow-duration="1.3s" data-wow-offset="150" data-wow-delay="0.5s">Our Mission</h2>
        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-offset="150" data-wow-delay="0.75s">Logicsols is a digital logistics solution provider on a mission to digitize the antiquated Break Bulk industry. Our philosophy is to provide digital solutions that enable customers to be proactive than reactive.</p>
      </div>
    </article>
    <!-- /.mission -->

    <article class="about" data-anchor="about">
      <div class="wrapper">
        <div class="about__bg">
          <img src="./img/bg-frame-6.svg" class="about__bg_1" alt="">
          <img src="./img/bg-about.jpg" class="about__bg_2" alt="">
        </div>
        <div class="about__description">
          <h2 class="wow fadeInUp" data-wow-duration="1.3s" data-wow-offset="150">About Us</h2>
          <div class="about__text wow fadeInUp" data-wow-duration="1.3s" data-wow-offset="150" data-wow-delay="0.5s">
            Logicsols is a privately owned LLC, headquartered in Upstate New York. Founded in 2018, by Adnan Rajput, who brings a wealth of knowledge to the break bulk logistics industry, with over 20 years of global logistics experience across diverse industries (Power Generation, Renewable, 2PL, 3PL, Automotive, Aviation and Retail).
            <br>
            <br>
            Logicsols was created to digitize the end-to-end logistics operations processes, which is driven by technology and advanced notification data intelligence (ANDI). This enables our customers to eliminate waste, reduce cost and operate an efficient supply chain.
            <br>
            <br>
            Our core belief is that logistics processes don’t need to be complex and can be simplified to the last detail by providing the technology of tomorrow, today. We want our customers to be proactive than reactive, helping them be competitive in the marketplace.
          </div>
        </div>        
      </div>
    </article>
    <!-- /.about -->

    <article class="partners">
      <div class="wrapper">
        <img src="./img/partners.jpg" alt="" width="100%"> 
      </div>      
    </article>
    <!-- /.partners -->    

    <article class="ready">
      <div class="ready__bg">
        <div class="map">
          <div class="wrapper">
            <div class="oval-1"></div>
            <div class="oval-2"></div>
            <div class="comp">
              <img src="./img/comp-2.png" alt="">
            </div>
            <h2 class="wow fadeInUp" data-wow-duration="1.3s" data-wow-offset="150">Ready to Start?</h2>
            <a href="" class="btn white wow fadeInUp" data-wow-duration="1.3s" data-wow-offset="150" data-wow-delay="0.5s" data-action="modal-register">register</a>
          </div>          
        </div>        
      </div>
    </article>
    <!-- /.ready -->
  </main>

  <footer>
    <div class="wrapper">
      <div class="footer__logo">
        <a href="/">
          <img src="./img/header-logo.png" alt="">
        </a>
      </div>
      <nav class="footer__nav">
        <a href="" data-target="benefits">Logicsols Benefits</a>
        <a href="" data-target="services">Our Services</a>
        <a href="" data-target="mission">Our Mission</a>
        <a href="" data-target="about">About Us</a>
        <a href="">Privacy Policy</a>
        <a href="">Terms & Condition</a>
      </nav>
      <nav class="footer__nav_mobile">
        <a href="">Privacy Policy</a>
        <a href="">Terms & Condition</a>
      </nav>
      <div class="footer__contacts">
        <p>
          <a href="">Chat</a>
        </p>
        <p>
          <a href="">+9 899 333 33 33</a>
        </p>
        <p>
          <a href="">mail@mail.com</a>
        </p> 
        <div class="social">
          <a href="">
            <svg class="icon-fb">
              <use xlink:href="img/spritemap.svg#icon-ic-fb"></use>
            </svg>
          </a>
          <a href="">
            <svg class="icon-in">
              <use xlink:href="img/spritemap.svg#icon-ic-in"></use>
            </svg>
          </a>
          <a href="">
            <svg class="icon-twitter">
              <use xlink:href="img/spritemap.svg#icon-ic-twitter"></use>
            </svg>
          </a>
          <a href="">
            <svg class="icon-insta">
              <use xlink:href="img/spritemap.svg#icon-ic-insta"></use>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </footer>
  <!-- /footer --> 


  <div class="modal register-select">
    <div class="modal__wrapper">
      <i class="modal__close">
        <svg class="icon-ic-close">
          <use xlink:href="img/spritemap.svg#icon-ic-close"></use>
        </svg>          
      </i> 
      <h2>Please select</h2>
      <div class="register-select__list">
        <a href="register.html" class="btn turquoise">Consumer</a>
        <a href="register.html" class="btn turquoise">Enterprise</a>
        <a href="register.html" class="btn turquoise">Carrier</a>
      </div>
    </div>
  </div>

  <div class="modal video">
      <div class="modal__wrapper"></div>
  </div>


  <script src="./js/vendor/jquery-3.4.1.min.js"></script>
  <script src="./js/vendor/wow.min.js"></script>
  <script src="./js/vendor/swiper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>