<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">

  <link rel="shortcut icon" href="favicon/favicon.ico" />
  <link rel="stylesheet" href="./css/main.css" />

  <title>Logicsols</title>
</head>

<!-- <svg>
  <use xlink:href="img/spritemap.svg#icon-rectangle"></use>
</svg> -->

<body class="register">  
  <div class="loader"></div>
  <header>
    <div class="wrapper">
      <div class="logo">
        <a href="./">
          <img src="./img/header-logo.png" alt="">
        </a>
      </div>
      <!-- <nav>
        <a href="" class="current">Logicsols Benefits</a>
        <a href="">Our Services</a>
        <a href="">Our Mission</a>
        <a href="">About Us</a>
      </nav>
      <div class="sign">
        <a href="" class="btn btn-border white login">login</a>
        <a href="" class="btn white register">Register</a>
      </div> -->
    </div>
  </header>
  <!-- /header -->

  <main>
    <div class="wrapper">
      <div class="register__bg">
        <img src="./img/bg-register.svg" class="bg-1" alt="">
        <img src="./img/comp-register.png" class="bg-2" alt="">
      </div>
      <article class="register__body">
        <div class="register__head">
          <h1>Register</h1>
          <p>Welcome to our digital platform!</p>
        </div>
        <div class="register__form">
          <form action="">
            <div class="form-group">
              <div class="form-control">
                <input type="text">
                <label>Name</label>
                <span class="error">invalid name!</span>
              </div>
            </div>
            <div class="form-group">
              <div class="form-control">
                <input type="text">
                <label>Company Name</label>
                <span class="error">invalid Company Name!</span>
              </div>
            </div>
            <div class="form-group">
              <div class="form-control error">
                <input type="email" value="mail@">
                <label>Email</label>
                <span class="error">invalid address entered!</span>
              </div>
            </div>
            <div class="form-group">
              <div class="form-control">
                <input type="number">
                <label>Your Phone</label>
                <span class="error">invalid phone!</span>
              </div>
            </div>
            <div class="form-group">
              <div class="form-control">
                <input type="password">
                <label>Password</label>
                <span class="error">invalid password!</span>
              </div>
            </div>
            <div class="form-group">
              <div class="form-control">
                <input type="password">
                <label>Confirm Password</label>
                <span class="error">invalid password!</span>
              </div>
            </div>
            <div class="form-submit">
              <button class="btn turquoise">Register</button>
            </div>            
          </form>
        </div>
        <div class="register__footer">
          <span>Already have an account?</span>
          <a href="login.html">Login</a>
        </div>        
      </article>
    </div>
  </main>


  <script src="./js/vendor/jquery-3.4.1.min.js"></script>
  <script src="./js/vendor/wow.min.js"></script>
  <script src="./js/main.js"></script>
</body>

</html>